/* General Container */
* {
    margin: 0px;
    padding: 0px;
}

.body {
    font-family: 'Patrick Hand', cursive;
} 

.orange {
    color: #b78046;
}

.brown {
    color: #796342;
}

.title {
    text-align: center;
    margin: 25px;
}

/* Navbar */
.my_navbar {
    position: sticky;
    z-index: 100;
    top: 0;
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .show > .nav-link {
    color: white
}

.nav-color {
    font-size: 22px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.55);
    border-color: rgba(255,255,255,1);
}

.active_nav {
    opacity: .75;
}

/* Add Products */
.admin_products {
    display: flex;
}

label {
    font-size: 20px;
}

.form_spacing {
    margin: 15px;
}

.input_name_desc > input {
    margin-bottom: 10px;
}

.add_product {
    width: 700px;
    height: fit-content;
    border: 2px solid #b78046;
    border-radius: 15px;
    margin: 20px;
}

.btn_add {
    text-align: center;
}

.btn_add > button {
    width: 80px;
    border: 2px solid #ffc00a;
    border-radius: 15px;
    color: white;
    background-color: #ffc00a;
    font-size: large;
    margin: 15px;
}

.btn_add > button:hover {
    background-color: #f5c000;
    border: 2px solid #f5c000;
}

/* Update Products */
.update_product {
    width: 700px;
    border: 2px solid #b78046;
    border-radius: 15px;
    margin: 20px;
    height: fit-content;
}

.btn_update {
    text-align: center;
}

.btn_update > button {
    width: 80px;
    border: 2px solid #ffc00a;
    border-radius: 15px;
    color: white;
    background-color: #ffc00a;
    font-size: large;
    margin: 15px;
}

.btn_update > button:hover {
    background-color: #f5c000;
    border: 2px solid #f5c000;
}

/* Remove Product */
.remove_product {
    width: 500px;
    border: 2px solid #b78046;
    border-radius: 15px;
    margin: 20px;
    height: fit-content;
}

.btn_remove {
    text-align: center;
}

#remove_button {
    width: 80px;
    border: 2px solid red;
    border-radius: 15px;
    color: white;
    background-color: red;
    font-size: large;
}

#remove_button:hover {
    background-color: rgb(252, 43, 43);
    border: 2px solid rgb(252, 43, 43);
}