.body {
    font-family: 'Patrick Hand', cursive;
}

.orange {
    color: #b78046;
}

.brown {
    color: #796342;
}








/* Contact Us */
* {
    margin: 0px;
    padding: 0px;
 }

.contact{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}


