<footer class=" text-center text-white" style="background-color: #fcbf56;">
    <!-- Grid container -->
    <div class="container p-1 pb-0">
        <!-- Section: Social media -->
        <section style="display: flex; max-width: 300px; justify-content: space-evenly; align-items: center; margin: 30px auto 30px auto;">
            <!-- Facebook -->
            <a href="https://www.facebook.com/NadiMiel/" target="_blank" style="text-decoration: none;">
              <i class="fab fa-facebook-square fa-2x dark_brown"></i>
            </a>
        
            <!-- Instagram -->
            <a href="https://www.instagram.com/nadimiel_chamarel/?hl=en" target="_blank" style="text-decoration: none;">
              <i class="fab fa-instagram-square fa-2x dark_brown"></i>
            </a>
            
            <a href="tel:+23057506044" style="text-decoration: none; color: #7d4e24;">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
              </svg>
            </a>
            
    
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #fbaa19">
      <span class="dark_brown">
        © 2022 Designed with <span style="color: red">❤</span> by Wayne Célestin, Henry Oko, Oliver Ah You, Dheeksha Radhoa, and Damien Mallet from
        <a class="dark_brown" href="https://developers.institute/mu/" style="text-decoration: none;" target="_blank">Developer's Institute Mauritius</a>
      </span>
    </div>
    <!-- Copyright -->
  </footer>