<footer class=" text-center text-white" style="background-color: #fcbf56;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a href="https://www.facebook.com/NadiMiel/" target="_blank" style="text-decoration: none; margin: 15px;">
              <i class="fab fa-facebook-square fa-2x dark_brown"></i>
            </a>
    
        
            <!-- Instagram -->
            <a href="https://www.instagram.com/nadimiel_chamarel/?hl=en" target="_blank" style="text-decoration: none; margin: 15px;">
              <i class="fab fa-instagram-square fa-2x dark_brown"></i>
            </a>
    
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #fbaa19">
      <span class="dark_brown">
        © 2022 Designed with <span style="color: red">❤</span> by
        <a class="dark_brown" href="https://developers.institute/mu/" style="text-decoration: none;">Wayne, Henry, Oliver, Dheeksha and Damien</a>
      </span>
    </div>
    <!-- Copyright -->
  </footer>