<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="keywords" content="Nadimiel, chamarel, honey, bees, natural, fresh">
<meta name="title" content="Nadi'Miel Chamarel">
<meta name="description" content="
Petite entreprise familiale fondée en 2017 par Nadine Ramsamy-Appadoo, Nadi’Miel Chamarel propose des saveurs 100% locales et artisanales, faites-maison, sans conservateurs ni additifs...">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://nadimiel-chamarel.herokuapp.com/">
<meta property="og:title" content="Nadi'Miel Chamarel">
<meta property="og:description" content="
Petite entreprise familiale fondée en 2017 par Nadine Ramsamy-Appadoo, Nadi’Miel Chamarel propose des saveurs 100% locales et artisanales, faites-maison, sans conservateurs ni additifs...">
<meta property="og:image" content="images/Logo Nadi'Miel New.jpg">

<meta name="robots" content="index, follow"/>

<link rel="icon" type="image/png" href="images/favicon.png">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-447J6NX1VY"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-447J6NX1VY');
</script>

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Tapestry&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Water+Brush&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Metamorphous&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap" rel="stylesheet">
<!-- CSS -->
<link rel="stylesheet" href="/css/style.css">
<title>Nadi'Miel Chamarel</title> 