<!-- Navbar and Banner -->
<div class="my_navbar">
    <nav class="navbar navbar-expand-md navbar-dark bg-warning text-dark" aria-label="Fourth navbar example">
        <div class="container-fluid container-fluid-flex ">
            <!-- <div>
                <a class="navbar-brand" href="#">Logo</a>
            </div> -->

            <div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            
            <div class="collapse navbar-collapse " id="navbarsExample04">
                <ul class="navbar-nav me-auto mb-2 mb-md-0 ">
                    <li class="nav-item">
                        <a class="nav-link nav-color hover-underline-animation" aria-current="page" href="#">Acceuil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-color hover-underline-animation" href="products">Produits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-color hover-underline-animation" href="recipe">Recette</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-color hover-underline-animation" href="orders">Commandes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-color hover-underline-animation" href="#contact-us">Contactez-nous</a>
                    </li>
                </ul>
            </div>
        </div>
      </nav>
</div>