<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="admin.css">
    <title>Nadi'Miel Chamarel</title>
</head>
<body class="body">
    <!-- Navbar -->
    <div class="my_navbar">
        <nav class="navbar navbar-expand-md navbar-dark bg-warning text-dark" aria-label="Fourth navbar example">
            <div class="container-fluid container-fluid-flex">
                <div>
                    <a class="navbar-brand" href="#">Logo</a>
                </div>

                <div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                
                <div class="collapse navbar-collapse" id="navbarsExample04">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link nav-color hover-underline-animation" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-color hover-underline-animation" href="products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-color hover-underline-animation active_nav" href="#">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-color hover-underline-animation" href="orders">Order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-color hover-underline-animation" href="#contact-us">Contact Us</a>
                    </li>
                    </ul>
                </div>
            </div>
          </nav>
    </div>

    <!-- Admin -->
    <div class="admin_products">
       <!-- Add Products -->
        <div class="add_product">
            <div>
                <h2 class="title orange">Add Product</h2>
            </div>
            <form name="add">
                <div class="form-group form_spacing input_name_desc">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" name="name1" id="name_french_add" placeholder="French">
                    <input type="text" class="form-control" name="name2" id="name_english_add" placeholder="English">
                </div>
                <div class="form-group form_spacing input_name_desc">
                    <label for="description">Description:</label>
                    <input type="text" class="form-control" name="description1" id="desc_french_add" placeholder="French">
                    <input type="text" class="form-control" name="description2" id="desc_english_add" placeholder="English">
                </div>
                <div class="form-group form_spacing">
                    <label for="quantity">Quantity:</label>
                    <input type="number" class="form-control" name="quantity" id="quantity_add" placeholder="(1, 2, 3, 4, 5, etc.)">
                </div>
                <div class="form-group form_spacing">
                    <label for="quantity">Price:</label>
                    <input type="number" class="form-control" name="price" id="price_add" placeholder="Price">
                </div>
                <div class="form-group form_spacing">
                    <label for="item_picture">Choose Picture:</label><br>
                    <input type="file" class="form-control-file" id="item_picture_add">
                </div>
                <div class="form-group form_spacing">
                    <label for="category">Category:</label>
                    <select class="form-control" id="category_add">
                        <option>Honey</option>
                        <option>Charcuterie</option>
                        <option>Achard & Piments / Chili</option>
                        <option>Snacks</option>
                        <option>Pâtisserie / Pastry</option>
                    </select>
                </div>
                <div class="btn_add">
                    <button type="reset">Reset</button>
                    <button type="button" onclick="add_product()">Add</button>
                </div>

            </form>
        </div>

        <!-- Update Products -->
        <div class="update_product">
            <div>
                <h2 class="title orange">Update Products</h2>
            </div>
            <form>
                <div class="form-group form_spacing">
                    <label for="name">Product ID:</label>
                    <input type="number" class="form-control" name="product_id_update" id="product_id_update" placeholder="ID">
                </div>
                <div class="form-group form_spacing input_name_desc">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" name="name" id="name_french_update" placeholder="French">
                    <input type="text" class="form-control" name="name" id="name_english_update" placeholder="English">
                </div>
                <div class="form-group form_spacing input_name_desc">
                    <label for="description">Description:</label>
                    <input type="text" class="form-control" name="description" id="description_french_update" placeholder="French">
                    <input type="text" class="form-control" name="description" id="description_english_update" placeholder="English">
                </div>
                <div class="form-group form_spacing">
                    <label for="quantity">Quantity:</label>
                    <input type="number" class="form-control" name="quantity" id="quantity_update" placeholder="(1, 2, 3, 4, 5, etc.)">
                </div>
                <div class="form-group form_spacing">
                    <label for="quantity">Price:</label>
                    <input type="number" class="form-control" name="price" id="price_update" placeholder="Price">
                </div>
                <div class="form-group form_spacing">
                    <label for="item_picture">Choose Picture:</label><br>
                    <input type="file" class="form-control-file" id="item_picture_update">
                </div>
                <div class="form-group form_spacing">
                    <label for="category">Category:</label>
                    <select class="form-control" id="category_update">
                        <option>Honey</option>
                        <option>Charcuterie</option>
                        <option>Achard & Piments / Chili</option>
                        <option>Snacks</option>
                        <option>Pâtisserie / Pastry</option>
                    </select>
                </div>
                <div class="btn_update">
                    <button type="reset">Reset</button>
                    <button type="button" onclick="update_product()">Update</button>
                </div>
            </form>
        </div>

        <!-- Remove Products -->
        <div class="remove_product">
            <div>
                <h2 class="title orange">Remove Products</h2>
            </div>
            <form>
                <div class="form-group form_spacing">
                    <label for="name">Product ID:</label>
                    <input type="number" class="form-control" name="product_id_update" id="product_id_remove" placeholder="ID">
                </div>
                <div class="btn_remove">
                    <button onclick="remove_product()" class="form_spacing" id="remove_button" type="button">Remove</button>
                </div>
                
            </form>
        </div>
    </div>


    <!-- Footer -->
    <footer class=" text-center text-white" style="background-color: #fcbf56;  bottom:0; width:100%;">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: #3b5998;"
                href="https://www.facebook.com/NadiMiel/"
                role="button"
                target="_blank"
                ><i class="fab fa-facebook-f"></i
                ></a>
        
                <!-- Twitter -->
                <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: #55acee;"
                href="#!"
                role="button"
                ><i class="fab fa-twitter"></i
                ></a>
        
                <!-- Instagram -->
                <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: #ac2bac;"
                href="https://www.instagram.com/nadimiel_chamarel/?hl=en"
                role="button"
                target="_blank"
                ><i class="fab fa-instagram"></i
                ></a>
        
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: #fbaa19">
          © 2022 Copyright:
          <a class="text-white" href="https://developers.institute/mu/">Developers Institute</a>
        </div>
        <!-- Copyright -->
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="admin.js"></script>
</body>
</html>