<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="/addcart.css">
    <title>Nadi'Miel Chamarel</title>
</head>
<body class="body">
    <!-- Navbar -->
    <div class="my_navbar">
        <nav class="navbar navbar-expand-md navbar-dark bg-warning text-dark" aria-label="Fourth navbar example">
            <div class="container-fluid container-fluid-flex">
                <!-- <div>
                    <a class="navbar-brand" href="#">Logo</a>
                </div> -->

                <div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                
                <div class="collapse navbar-collapse" id="navbarsExample04">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link nav-color hover-underline-animation" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-color hover-underline-animation" href="products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-color hover-underline-animation active_nav" href="recipe">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-color hover-underline-animation" href="#">Order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-color hover-underline-animation" href="/#contact-us">Contact Us</a>
                    </li>
                    </ul>
                </div>
            </div>
          </nav>
    </div>

    <!-- Add to Cart -->
    <div class="card">
        <div class="row">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted"></div>
                </div>
            </div>
            <div class="col-md-8 cart outerContainer">
               
                <div class="row border-top border-bottom innerContainer">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/1GrakTl.jpg"></div>
                        <div class="col">
                            <div class="row text-muted">Test</div>
                            <div class="row">Test</div>
                        </div>
                        <div class="col "> <input type="number" value="1" class="quantity" onchange="updateTotal()"> </div>
                        <div class="col cart-price"> Rs100.00 <span class="close"><i class="fa fa-trash" aria-hidden="true"></i></span></div>
                   
                     </div>
                </div>

               
                
            </div>
            <!-- <div class="back-to-shop"><a href="products">&leftarrow;</a><span class="text-muted">Back to shop</span></div> -->
            
            <div class="col-md-4 summary">
                <div>
                    <h5><b>Summary</b></h5>
                </div>
                <hr>
                <!-- <div class="row">
                    <div class="col" style="padding-left:0;">ITEMS 3</div>
                </div> -->
                <form>
                    <p>Payment Options</p> <select>
                        <option class="text-muted">Choose payment options</option>
                        <option class="text-muted">Pay with Cash On Delivery</option>
                        <option class="text-muted">Pay With Juice On Delivery</option>
                    </select>
                    
                </form>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right cart-total"></div>
                </div> 
                
            </div>
            <form style="margin: 20px;" class="row g-3">
                <div class="col-md-4">
                  <label for="firstname" class="form-label">First name</label>
                  <input type="text" class="form-control" id="firstname">
                </div>
                <div class="col-md-4">
                  <label for="inputPassword4" class="form-label">Last name</label>
                  <input type="text" class="form-control" id="lastname">
                </div>
                <div class="col-6">
                  <label for="inputEmail" class="form-label">Email</label>
                  <input type="text" class="form-control" id="inputEmail">
                </div>
                <div class="col-2">
                  <label for="inputPhone" class="form-label">Phone</label>
                  <input type="tel" class="form-control" id="inputPhone">
                </div>
                <div class="col-md-6">
                  <label for="inputAddress" class="form-label">Address</label>
                  <input type="text" class="form-control" id="inputAddress">
                </div>
                
                <!-- <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Check me out
                    </label>
                  </div> -->
                </div>
                <div class="col-12">
                    <button class="btn" id="check">CHECKOUT</button>
                </div>
              </form>
        </div>
    </div>


    
 
    <script>
        //DummyDatabase
        let cartMenu = [
            {
                product_id: "1",
                category: "Meal",
                price: 100,
                product_name_fr: "Poulet"
            },
            {
                product_id: "2",
                category: "Meal",
                price: 200,
                product_name_fr: "Briyani"
            },
            {
                product_id: "3",
                category: "Snack",
                price: 50,
                product_name_fr: "Gateau Piment"
            },
            {
                product_id: "4",
                category: "Snack",
                price: 30,
                product_name_fr: "Boulettes"
            },
        ]

        let removeCartItemButtons = document.getElementsByClassName('close')
        for(let i =0; i< removeCartItemButtons.length; i++){
            let button = removeCartItemButtons[i];
            button.addEventListener('click', function(event){
                let buttonClicker = event.target;
                buttonClicker.parentElement.parentElement.parentElement.parentElement.remove();
                updateTotal();
            })
        }

        function updateTotal(){
            let total = 0;
            let cartItemContainer = document.getElementsByClassName('outerContainer')[0]
            let cartRows = cartItemContainer.getElementsByClassName('innerContainer')
            for (let i = 0; i < cartRows.length; i++){
                let cartRow = cartRows[i]
                let priceElement = cartRow.getElementsByClassName('cart-price')[0];
                let quantityElement = cartRow.getElementsByClassName('quantity')[0];
                let price = parseFloat(priceElement.innerText.replace('Rs', '')) ;
                let quantity = parseFloat(quantityElement.value);
                total = total + (price * quantity);
                
            }
            document.getElementsByClassName('cart-total')[0].innerHTML = 'Rs ' + total

            localStorage.setItem("cartMenu", JSON.stringify(cartMenu));
            
        }
        updateTotal()

        
  
    </script>



    <footer class=" text-center text-white" style="background-color: #fcbf56;">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a
                class="btn btn-primary btn-floating m-1" 
                style="background-color: #3b5998;"
                href="https://www.facebook.com/NadiMiel/"
                role="button"
                target="_blank"
                ><i class="fab fa-facebook-square"></i></a>
        
             
        
                <!-- Instagram -->
                <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: #ac2bac;"
                href="https://www.instagram.com/nadimiel_chamarel/?hl=en"
                role="button"
                target="_blank"
                ><i class="fab fa-instagram-square"></i> </a>
        
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: #fbaa19">
          © 2022 Copyright:
          <a class="text-white" href="https://developers.institute/mu/">Developers Institute</a>
        </div>
        <!-- Copyright -->
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>