<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="home.css">
    <title>Nadi'Miel Chamarel</title> 
</head>
<body class="body"> 
    <!-- Navbar and Banner -->
    <div class="my_navbar">
        <nav class="navbar navbar-expand-md navbar-dark bg-warning text-dark" aria-label="Fourth navbar example">
            <div class="container-fluid container-fluid-flex">
                <!-- <div>
                    <a class="navbar-brand" href="#">Logo</a>
                </div> -->

                <div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                
                <div class="collapse navbar-collapse" id="navbarsExample04">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link nav-color hover-underline-animation" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-color hover-underline-animation" href="products">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-color hover-underline-animation" href="recipe">Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-color hover-underline-animation" href="orders">Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-color hover-underline-animation" href="#contact-us">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
          </nav>
    </div>

    <div class="my_banner">
        <div class="banner_intro">
            <img id="homepagelogo" src="Logo Nadi'Miel New.jpg" alt="Logo of Nadi'Miel">
            <h1 class="orange title">Taste our fresh local home-made products</h1>
        </div>
        <hr style="height: 2px; color: #fbaa19;">

        <div class="banner_itself">
            <div id="carouselExampleControls" class="carousel slide slide_my" data-bs-ride="carousel">
                <div class="carousel-inner pic_size">
                  <div class="carousel-item active ">
                    <img src="bees.jpg" class="d-block w-100 img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="Chamarel.jpeg" class="d-block w-100 img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="Civet de Cochon Marron.jpg" class="d-block w-100 img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="fromage de tete.jpg" class="d-block w-100 img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="Pâté de Porc.jpg" class="d-block w-100 img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="feuilletés Boucané Porc.jpg" class="d-block w-100 img-fluid" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="Gato Koko au café de Chamarel.jpg" class="d-block w-100 img-fluid" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>

    <!-- Our Story -->
    <h1 class="orange title">Our Story</h1>
    <div class="ourstory_container">
        <div class="ourstory_image"><img class="image" src="NadineAndPierre.jpg" alt="Picture of owners"></div>
        <div class="brown ourstory_text"><h5>Petite entreprise familiale fondée en 2017 par Nadine Ramsamy-Appadoo, Nadi’Miel Chamarel propose des saveurs 100% locales et artisanales, faites-maison, sans conservateurs ni additifs... De savoureux produits issus du terroir de Chamarel, son lieu de vie et d’amour.
            Son credo : Promouvoir, Revaloriser et Transformer - de l’authentique bon et beau : charcuterie, ‘snacking’, pâtes de piment, miel et pâtisseries. 
            Ces saveurs authentiques qui courent le risque de finir aux oubliettes, à l’ère d’une restauration trop rapide.
            Titulaire d’un diplôme en pâtisserie de l’École Hôtelière de Maurice, Nadine se lance d’abord dans l’apiculture. 
            Une riche formation auprès des apiculteurs d’expérience d’ici et d’ailleurs, suivie de l’installation de ruches à Chamarel sont un “challenge” déclencheur par lequel tout arrive ! Et voilà Nadi’Miel Chamarel dans les starters !
            Et parce que l’on ne cesse jamais d’apprendre, notre Madame Miel s’enrichit à travers des formations en Charcuterie et Service traiteur offertes par Service à la Française avec les Meilleurs Ouvriers de France (MOF).
            En parcourant ce site, vous découvrirez une variété de produits de charcuterie, de snacks typiquement mauriciens, de pâtes de piment aux saveurs exotiques, du miel 100% naturel et une succulente sélection de pâtisseries faites-maison... que vous pouvez ajouter à votre panier.
            Toujours à l’écoute et prête à innover, Nadine prend le même plaisir, encore et encore, à apporter sa touche personnelle à ses créations 100% locales  et artisanales. 
            Les papilles titillent avec ces saveurs d’antan quelque peu oubliées.  Et là, ce n’est forcément que du bonheur...
            Le mantra du Made in Moris n’a jamais eu autant de sens:
            Nu Manz lokal
            Nu Protez lokal</h5></div>
    </div>
    
    <!-- Featured Products -->
    <div>
        <div class="orange title">
            <h1>Featured Products</h1>
        </div>
        <div class="minicontainer">
            <img src="feuilletés Boucané Porc.jpg" alt="" class="myborder" width="200px" height="200px">
            <img src="achard.jpg" alt="" class="myborder" width="200px" height="200px">
            <img src="Honey.jpg" alt="" class="myborder" width="200px" height="200px">
            <img src="image.jpg" alt="" class="myborder" width="200px" height="200px">
            <img src="image2.jpg" alt="" class="myborder" width="200px" height="200px">
            <img src="image4.jpg" alt="" class="myborder" width="200px" height="200px">
        
        </div>
    </div>

    <!-- Reviews -->
    <div class="orange title">
        <h1>Reviews</h1>
    </div>
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <!-- <div class="carousel-indicators">
          <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div> -->
        
        <!-- The slideshow/carousel -->
        <div class="carousel-inner d-flex" style="text-align: center;">
          <div class="carousel-item active">
            <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D1348679672221302%26id%3D100012378467330&show_text=true&width=500" width="500" height="168" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
          </div>
          <div class="carousel-item">
            <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmaryjane.vellin%2Fposts%2F1583781951776618&show_text=true&width=500" width="500" height="186" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
          </div>
          <div class="carousel-item">
            <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Flaura.venkatasamy.9%2Fposts%2F2045840548853179&show_text=true&width=500" width="500" height="188" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
          </div>
        </div>
        
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-warning"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
          <span class="carousel-control-next-icon bg-warning"></span>
        </button>
      </div>


    
    <!-- Contact us -->
    <div class="orange title" id="contact-us">
        <h1>Contact Us</h1>
    </div>
    <div class="contact" id="contact-us">
        <div class="container my-4 ">
            <!-- Section: Contact v.1 -->
            <section class="my-5 ">
            <!-- Grid row -->
            <div class="row ">
                <!-- Grid column -->
                <div class="col-lg-5 mb-lg-0 mb-4">
                    <!-- Form with header -->
                    <div class="card">
                        <h1 style="text-align: center;">Get In Touch</h1>
                        <div class="card-body">
                            <form action="https://formsubmit.co/your@email.com" method="POST">
                                <div class="form-group">
                                    <label for="InputName">Full Name</label>
                                    <input type="text" class="form-control" id="InputName" aria-describedby="name" name="Fullname" placeholder="Enter your Name" required>
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your information with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="InputEmail">E-Mail</label>
                                    <input type="email" class="form-control" id="InputEmail" name="email" placeholder="Enter your Email" required>
                                </div>
                                <div class="form-group">
                                    <label for="InputEnquiry">Enquiry</label>
                                    <select class="form-control" id="InputEnquiry" name="Enquiry">
                                        <option>General Enquiry</option>
                                        <option>Make an Order</option>
                                        <option>Plan your Event</option>
                                        <option>Homemade recipe supply</option>
                                        <option>Food Delivery</option>
                                    </select>
                                </div>
                                <div class="form-group py-2">
                                    <label for="InputMessage">Write us a Message</label>
                                    <textarea class="form-control" id="InputMessage" rows="3" name="message"></textarea>
                                </div>
                                <button type="submit" class="btn btn-warning" style="margin-left: auto; margin-right: auto;">Submit</button>
                            </form>
                        </div>
                    </div>
                <!-- Form with header -->
                </div>
                <!-- Grid column -->
                <div class="col-lg-7" >
            
                    <!--Google map-->
                    <div class="gmap_canvas"><iframe width="690" height="460" id="gmap_canvas"  src="https://maps.google.com/maps?q=Nadimiel%20charamel&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                
                </div>
                <!-- Grid column -->
            
            </div>
            <!-- Grid row -->
            
            </section>
            <!-- Section: Contact v.1 -->
        
        </div>
    </div>

    <footer class=" text-center text-white" style="background-color: #fcbf56;">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
              <!-- Facebook -->
              <a href="https://www.facebook.com/NadiMiel/" target="_blank" style="text-decoration: none; margin: 15px;">
                <i class="fab fa-facebook-square fa-2x dark_brown"></i>
              </a>
      
          
              <!-- Instagram -->
              <a href="https://www.instagram.com/nadimiel_chamarel/?hl=en" target="_blank" style="text-decoration: none; margin: 15px;">
                <i class="fab fa-instagram-square fa-2x dark_brown"></i>
              </a>
      
          </section>
          <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: #fbaa19">
        <span class="dark_brown">
          © 2022 Designed with <span style="color: red">❤</span> by
          <a class="dark_brown" href="https://developers.institute/mu/" style="text-decoration: none;">Developers Institute</a>
        </span>
      </div>
      <!-- Copyright -->
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>