/* Banner */

.container-fluid-flex{
    display: flex;
    justify-content: space-between;
}

.my_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner_intro {
    text-align: center;
}

.carousel-inner {
    width: 100%;
    max-height: 600px !important; 
}

/* Our story */

.title_story{
    font-family: 'Pinyon Script', cursive; 
    margin-top: 45px;
    font-size: 60px;
    text-align: center;
    line-height: 0%;
}

#more {display: none;} 

.image {
    width: 450px;
    border-radius: 1px;
    border: 2px solid rgb(168, 113, 19);
}

.ourstory_text {
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.ourstory_text h5{
    font-family: 'Arial', serif;
    font-size: 20px;
    text-align: justify;
    color:   #6f4e37;
   
}

.ourstory_container {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    gap: 20px;
}

/* Featured products */
.minicontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.myborder{
    border: 1px solid rgb(168, 113, 19) ;
    /* border-radius: 5px ; */
    margin: 15px;
}

.grow {
    transition: all .3s ease-out;
}
.grow:hover {
    transform: scale(1.05); 
    box-shadow:  0 0 5px 5px grey;
}


/* Reviews */

.carousel-inner iframe {
    width: 70%;
    height: 250px;
}

/* Contact Us */
.contact{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}




/* Media Queries */
@media only screen and (max-width: 768px) {
  iframe {
    height:400px;
    width:400px;
  }
   
   .gmap_canvas {
    display: flex;
    justify-content: center;
   }
}  

/* If screen size is 600px wide, or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  #homepagelogo {
    width: 75vw;
  }
}  

@media screen and (max-width: 985px) {
    .gmap_canvas {
        display: flex;
        justify-content: center;
    }
}


@media screen and (max-width: 630px) {
    .image {
        width: 275px;
    }
}

@media screen and (max-width: 1310px) {
    .ourstory_container {
        display: flex;
        flex-direction: column;
    }

    .ourstory_image {
        text-align: center;
    }
    .ourstory_text {
        text-align: center;
    }
}

@media screen and (max-width: 1353px) {
    iframe {
        width: 600px;
        height: 460px;
    }
}

@media screen and (max-width: 1195px) {
    iframe {
        width: 570px;
        height: 460px;
    }
}

@media screen and (max-width: 1100px) {
    .banner_itself {
       display: none;
    }   
}