/* General Container */
* {
    margin: 0px;
    padding: 0px;
}

.body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
} 


.orange {
    color: rgb(245, 156, 0);
}

.brown {
    color: rgb(168, 113, 19);
}

.dark_brown {
    color: rgb(125, 78, 36);
}

.yellow {
    color: rgb(255, 213, 24);
}

.title {
    text-align: center;
    margin: 30px;
    
}
.title_top {
    text-align: center;
    margin: 25px;
    font-family: 'Petit Formal Script', cursive;
    font-weight:900;
    font-size: 40px;
}

/* Navbar and Banner */

.container-fluid-flex{
    display: flex;
    justify-content: space-between;
}

.my_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner_intro {
    text-align: center;
}

.carousel-inner {
    width: 100%;
    max-height: 600px !important; 
}

.my_navbar {
    position: sticky;
    z-index: 100;
    top: 0;
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .show > .nav-link {
    color: rgb(125, 78, 36);
}

.nav-color {
    font-size: 22px;
    color: rgb(125, 78, 36);
}

.nav-color:hover {
    background-color: rgb(125, 78, 36);
    color: #ffc00a;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.55);
    border-color: rgba(255,255,255,1);
}

#text-container{
    position: relative;
}

#text-block{
    position: absolute;
    top: 20px;
    left: 20px;
    color: rgb(239, 39, 133);
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Tapestry', cursive;
    
}
#text-block h4{
    font-size: 65px; 
    color: rgb(125, 78, 36);   
    }

#text-block-5{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Tapestry', cursive;
    
}

#text-block-6{
    position: absolute;
    top: 20px;
    left: 20%;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Tapestry', cursive;
    
}
#text-block-5 h4{
    font-size: 65px; 
    color: rgb(252, 240, 6);   
    }

    #text-block-6 h4{
        font-size: 65px; 
        color: white;   
        }




#text-block p{
    font-size: 50px; 
    color: rgb(231, 43, 74);   
    font-family: 'Water Brush', cursive;
    }

/* Our story */

.title_story{
    font-family: 'Pinyon Script', cursive; 
    margin-top: 45px;
    font-size: 60px;
    text-align: center;
    line-height: 0%;
}

#more {display: none;} 

.image {
    width: 450px;
    border-radius: 1px;
    border: 2px solid rgb(168, 113, 19);
}

.ourstory_text {
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.ourstory_text h5{
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 20px;
    text-align: center;
    color:   #6f4e37;
   
}

.ourstory_container {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    gap: 20px;
}

/* Featured products */
.minicontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.myborder{
    border: 1px solid rgb(168, 113, 19) ;
    /* border-radius: 5px ; */
    margin: 15px;
}

.grow {
    transition: all .3s ease-out;
}
.grow:hover {
    transform: scale(1.05); 
    box-shadow:  0 0 5px 5px grey;
}


/* Reviews */

.carousel-inner iframe {
    width: 70%;
    height: 250px;
}

/* Contact Us */
.contact{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}




/* Media Queries */
@media only screen and (max-width: 768px) {
  iframe {
    height:400px;
    width:400px;
  }
   
   .gmap_canvas {
    display: flex;
    justify-content: center;
   }
}  

/* If screen size is 600px wide, or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  #homepagelogo {
    width: 75vw;
  }
}  

@media screen and (max-width: 985px) {
    .gmap_canvas {
        display: flex;
        justify-content: center;
    }
}


@media screen and (max-width: 630px) {
    .image {
        width: 275px;
    }
}

@media screen and (max-width: 1310px) {
    .ourstory_container {
        display: flex;
        flex-direction: column;
    }

    .ourstory_image {
        text-align: center;
    }
    .ourstory_text {
        text-align: center;
    }
}

@media screen and (max-width: 1353px) {
    iframe {
        width: 600px;
        height: 460px;
    }
}

@media screen and (max-width: 1195px) {
    iframe {
        width: 570px;
        height: 460px;
    }
}

@media screen and (max-width: 1100px) {
    .banner_itself {
       display: none;
    }   
}