/* General Container */
* {
    margin: 0px;
    padding: 0px;
}

.body {
    font-family: 'Patrick Hand', cursive;
} 

.orange {
    color: rgb(245, 156, 0);
}

.brown {
    color: rgb(168, 113, 19);
}

.dark_brown {
    color: rgb(125, 78, 36);
}

.yellow {
    color: rgb(255, 213, 24);
}

.title {
    text-align: center;
    margin: 25px;
}

/* Navbar and Banner */
.container-fluid-flex{
    display: flex;
    justify-content: space-between;
}

.my_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner_intro {
    text-align: center;
}

.carousel-inner {
    width: 100%;
    max-height: 600px !important; 
}

.my_navbar {
    position: sticky;
    z-index: 100;
    top: 0;
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .show > .nav-link {
    color: rgb(125, 78, 36);
}

.nav-color {
    font-size: 22px;
    color: rgb(125, 78, 36);
}

.nav-color:hover {
    background-color: rgb(125, 78, 36);
    color: #ffc00a;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.55);
    border-color: rgba(255,255,255,1);
}

/* Layout */
/* product description */
.container_product {
    display: flex;
    margin: 20px;
    min-height: 65vh;
}
#productImage {
    width: 30vw;
    border: 2px solid rgb(168, 113, 19);
    border-radius: 10px;
}
.container_description {
    margin-left: 20px;
}

.buttons {
    width: 175px;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: rgb(255, 213, 24);
    color: rgb(125, 78, 36);
}

.img_product {
    height: 280px;
    display: flex;
}

@media screen and (max-width: 630px) {
    
}