/* Layout */
/* product description */
.margin-category {
    margin-bottom: 30px;
}

.container_product {
    display: flex;
    margin: 20px;
    min-height: 65vh;
}
#productImage {
    width: 30vw;
    border: 2px solid rgb(168, 113, 19);
    border-radius: 10px;
}
.container_description {
    margin-left: 20px;
}

.buttons {
    width: 175px;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: rgb(255, 213, 24);
    color: rgb(125, 78, 36);
    border: none;
}

.buttons:hover {
    background-color: rgb(255, 205, 54);
}

.img_product {
    height: 280px;
    display: flex;
}

.shop_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.justify-content-start {
    justify-content: center!important;
}

.grow {
    transition: all .3s ease-out;
}
.grow:hover {
    transform: scale(1.03); 
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.close_modal {
    background-color: rgb(255, 185, 9);
    color: white;
}

.close_modal:hover {
    background-color: rgb(255, 198, 12);
    color: white;
}

.close_modal_x {
    color: rgb(255, 185, 9);
}

.close_modal_x:hover {
    color: rgb(255, 198, 12);
}