/* Recipe */
.border_recipe {
    border: 3px solid rgb(168, 113, 19);;
}

.img_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
}

/* Media queries */
@media (min-width: 768px) and (max-width: 920px) {
    .image {
        width: 250px;
    } 
}

@media (max-width: 768px) {
    .article {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
}

#google_translate_element{text-align:right;}
.goog-te-banner-frame.skiptranslate { display: none !important;}
body { top: 0px !important; }
#goog-gt-tt{display: none !important; top: 0px !important; }
.goog-tooltip skiptranslate{display: none !important; top: 0px !important; }
.activity-root { display: hide !important;}
.status-message { display: hide !important;}
.started-activity-container { display: hide !important;}

select {
    padding: 4px;
}
